.container h1 {
  font-size: 46px;
  color: black;
}

.wrapper-ads {
  // background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg');
  background-image: linear-gradient(to right bottom, #e7e7e7, #e5ebf3, #daf1fd, #cef9fc, #ccffef);
  background-size: cover;
  min-height: 100vh;
}
