
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://i.kym-cdn.com/entries/icons/original/000/002/391/annBL.jpg');">
  <div class="banner-content">
    <h1>The Airbnb for Pets</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, voluptas.</p>
  </div>
</div>

<div class="container">
<h2>Une séléction à ne pas manger</h2>
  <div class="row">
    <% @animals.each do |animal| %>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?animal');">
          <div class="card-description">
            <h2 style='font-size: 16px'><%= animal.name %></h2>
          </div>
          <div class="card-price">
            <p><%= animal.price %></p>
          </div>
          <div class="card-category">
            <p><%= animal.category %></p>
          </div>
          <%= link_to "lorem", '#', class: 'card-link' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
