
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://i.kym-cdn.com/entries/icons/original/000/002/391/annBL.jpg');">
  <div class="banner-content">
    <h1>The Airbnb for Pets</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, voluptas.</p>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="row">

  </div>
  </div>
</div>
