.animal-container {
  position:relative
}

.animal-description {
  padding:15px;
}

.animal-edit-delete {
  position: absolute;
  top: 40px;
  left: 40px;
}

.animal-back-index {
  position: absolute;
  bottom: 70px;
  left: 80px;
}

.animal-see-reviews {
  position: absolute;
  top: 40px;
  right: 40px;
}

