.modal-content{
    background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%), url('https://images.unsplash.com/photo-1541188495357-ad2dc89487f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ea0c965f2263b107944a45b08b2b3e&auto=format&fit=crop&w=500&q=60');
    background-color: rgba(128,128,128,0.5);
    background-repeat: no-repeat;
    background-size: cover;
}
