<div class="wrapper-ads">
  <div class="container">

<h1>Les Avis sur <%= @animal.name %></h1>
<%  @animal.bookings.each do |booking| %>
  <% booking.reviews.each do |review| %>
      <div class='message'>
        <div class='message-name'>
          <h6>rating</h6>
          <p><strong><%= review.rating %></strong></p>
        </div>
        <div class='message-body'>
          <h6> avis </h6>
          <p><%= review.content %></p>
        </div>
      </div>
  <% end %>
<% end %>
</div>
</div>
