<div class="wrapper-ads">
  <div class="container">


<%  @animal.bookings.each do |booking| %>
  <h1>Vous avez <strong><%= pluralize booking.reviews.count, 'avis' %></strong></h1>
  <% booking.reviews.each do |review| %>
      <div class='message'>
        <div class='message-name'>
          <h6>rating</h6>
          <p><strong><%= review.rating %></strong></p>
        </div>
        <div class='message-body'>
          <h6> avis </h6>
          <p><%= review.content %></p>
        </div>
      </div>
  <% end %>
<% end %>
</div>
</div>
